/*--------------------------------------------------------------------------------------------------*/
/* Sidtoppen
----------------------------------------------------------------------------------------- Sidtoppen */

header {
  width: 100%;
  min-height: 8rem;
  height: 8rem;
  max-height: 8rem;
}

/*--------------------------------------------------------------------------------------------------*/
/* Logotypen
----------------------------------------------------------------------------------------- Logotypen */

.logo-holder {
  background-color: rgb(74, 87, 89);
  color: var(--white);
  height: 7.8rem;
  font-size: 3.6rem;
  padding: 2.6rem 0 0 0;
  text-align: center;
  z-index: 1;
  position: relative;
  top: 0;
  left: 10vw;
  width: 14.2rem;
  display: block;
  cursor: default;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem -5rem 3.6rem -2.8rem inset;
  text-shadow: 0rem 0rem 0.6rem var(--black);
}

.logo-holder:hover .logo-wrapper {
  transition: all 0.3s ease;
  height: 7.8rem;
  transform: rotateX(50deg);
  top: -2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0rem 2rem 4rem,
    rgba(0, 0, 0, 0.3) 0rem 0.7rem 1.3rem -0.3rem,
    rgba(0, 0, 0, 0.2) 0rem -0.3rem 0rem inset;
}

.logo-wrapper {
  height: 7.8rem;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3.6rem;
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 0.8;
  text-align: center;
  text-shadow: 0rem 0rem 0.1rem var(--black);
  width: fit-content;
  background-color: var(--secondary);
  color: var(--primary);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0rem 0.2rem 0.4rem,
    rgba(0, 0, 0, 0.3) 0rem 0.7rem 1.3rem -0.3rem,
    rgba(0, 0, 0, 0.2) 0rem -0.3rem 0rem inset;
  transition: all 0.3s ease;
}

/*--------------------------------------------------------------------------------------------------*/
/* Huvudinnehåll
------------------------------------------------------------------------------------- Huvudinnehåll */

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 8rem);
  max-width: 90rem;
  margin: 0 auto;
}

main {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  align-self: center;
  flex-grow: 1;
}

/*--------------------------------------------------------------------------------------------------*/
/* Sidfoten
------------------------------------------------------------------------------------------ Sidfoten */

footer {
  margin-top: 2rem;
  padding-bottom: 1rem;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
